### Arquivo exemplo para configurar as variaveis de ambiente ###
URL= #Insira a URL de acesso ao sistema
EMAIL= #Insira o e-mail de acesso
PASS= #Insira a senha de acesso
OPTION= #Insira a opção que deseja acessar no campo de assinaturas